<head>
    <title>Success</title>
    <%- include('../shared/head') %>
</head>
<body>
    <div class="container">
        <h1>Thank you for your order</h1>

        <p><a class="link-primary" href="/orders">All Orders</a></p>
        <p><a class="link-primary" href="/">New Order</a></p>

        <!-- Table -->
        <table class="table table-bordered table-striped table-hover">
           <tbody>
            <tr>
                <td colspan="2">Here are your Order Details</td>
            </tr>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    <%- name %>

                </td>
            </tr>
            <tr>
                <td>
                    Phone
                </td>
                <td>
                    <%- Phone %>

                </td>
            </tr>
            <tr>
                <td>
                    Total Number of Mango Juices = 
                </td>
                <td>
                    <%- mango %>

                </td>
            </tr>
            <tr>
                <td>
                    Total Number of Berry Juices =
                </td>
                <td>
                    <%- berry %>

                </td>
            </tr>
            <tr>
                <td>
                    Total Number of Apple Juices =
                </td>
                <td>
                    <%- apple %>

                </td>
            </tr>
            <tr>
                <td>
                    Subtotal =
                </td>
                <td>
                    <%- SubTotal %>

                </td>
            </tr>
            <tr>
                <td>
                    Tax =
                </td>
                <td>
                    <%- tax %>

                </td>
            </tr>
            <tr>
                <td>
                    Total Cost =
                </td>
                <td>
                    <%- total %>

                </td>
            </tr>
           </tbody>
        </table>
        
        <%- include('../shared/footer') %>
    </div>
    <%- include('../shared/scripts') %>
</body>
