<head>
    <title>All Orders</title>
    <%- include('../shared/head') %>
</head>
<body>
    <div class="container">
        <h1>All Orders</h1>

        <p><a class="link-primary" href="/">New Order</a></p>
        <p><a class="link-primary" href="/logout">Logout</a></p>

        <!-- Table -->
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <td>
                    Name
                </td>
                <td>
                    Phone Number
                </td>
                <td>
                    Mango juice
                </td>
                <td>
                    Berry Juice
                </td>
                <td>
                    Apple Juice
                </td>
                <td>
                    Sub Total
                </td>
                <td>
                    tax
                </td>
                <td>
                    Total
                </td>
            </thead>
            <tbody>
                <% orders.forEach(order => { %>
                 <tr>
                    
                    <td><%= order.Name %></td>
                    <td><%= order.PhoneNum %></td>
                    <td><%= order.MangoNum %></td>
                    <td><%= order.BerryNum %></td>
                    <td><%= order.AppleNum %></td>
                    <td><%= order.SubTotal %></td>
                    <td><%= order.Tax %></td>
                    <td><%= order.Total %></td>
                 </tr>
                <% }) %>
            </tbody>
            
        </table>
        
        <%- include('../shared/footer') %>
    </div>
    <%- include('../shared/scripts') %>
</body>
